.resume {
    padding-top: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        display: grid;
        padding: 60px 89px 0 65px; 
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    top: -16px;
                    left: 0;
                    background-color: #000000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 43px;
            position: absolute;
            background-color:#000000;
            top: 67px;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 42px;
            margin-top: 12px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
        }
        &-icon {
            position: absolute;
            top: 48px;
            left: 42px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
    }
}

